<po-widget>
    <div class="po-row filters">
        <div class="po-xl-6 po-lg-6 po-md-6 po-sm-6">
            <po-combo
                (p-change)="onChangeUF($event)"
                p-label="Estado"
                [p-options]="filterOptions.uf"
                p-placeholder="Selecione"
                [(ngModel)]="filters.uf"
                [p-disabled]="disableFilters"
                p-clean="true"
                p-icon="po-icon-world"
                p-filter-mode="contains"
            >
            </po-combo>
        </div>
        <div class="po-xl-6 po-lg-6 po-md-6 po-sm-6">
            <po-combo
                (p-change)="onChangeFilters($event)"
                [p-label]="cidadeLabel"
                [p-options]="filters?.uf?.length ? cidadeOptions[filters?.uf] : {label:'Selecione', value:'Selecione'}"
                p-placeholder="Selecione"
                [(ngModel)]="filters.cidade"
                [p-disabled]="disableFilters || !cidadeOptions[filters?.uf]"
                p-clean="true"
                p-icon="po-icon-company"
                p-filter-mode="contains"
            >
            </po-combo>
        </div>
    </div>

    <div style="padding-top: 90px;">
      <app-loader *ngIf="refreshingData"></app-loader>
        <div class="po-row noContent" *ngIf="!refreshingData">
            <strong *ngIf="!(filters?.uf?.length)">Selecione o Estado</strong>
            <strong *ngIf="filters?.uf?.length && !(filters?.cidade?.length)">Selecione o Município</strong>
            <po-button
                *ngIf="userDeniedLocation"
                class="po-row center p-a-1"
                (p-click)="ngOnInit()"
                p-label="Habilite o acesso à sua localização no seu navegador"
                p-small="true"
                p-icon="po-icon po-icon-pin"
                p-tooltip="Para acharmos sua localização automaticamente"
            ></po-button>
        </div>
        <div *ngIf="filters?.uf?.length && filters?.cidade?.length">
            <div
                *ngIf="!refreshingData"
                style="display: flex; justify-content: flex-start;"
            >
                <div *ngFor="let item of weatherData">
                    <po-widget
                        class="po-xl-12"
                        style="height: 280px;"
                    >
                        <div class="temp-card">
                            <div style="display: flex; justify-content: center; align-items: baseline; width: 108px;">
                                <div style="display: flex; justify-content: flex-start; align-items: baseline;">
                                    <h1>{{item.dia}}</h1>
                                    <h2>/{{item.mes}}</h2>
                                </div>
                            </div>
                            <h3 style="display: flex; justify-content: center; align-items: baseline;">{{item.diaDaSemana}}</h3>
                            <div class="po-row card-values main-icon">
                                <i
                                    class='wi'
                                    [ngClass]="{
                        'wi-day-sunny': item.precipitation === 0,
                        'wi-day-showers': item.precipitation > 0 && item.precipitation < 2.5,
                        'wi-rain': item.precipitation >= 2.5 && item.precipitation < 10,
                        'wi-thunderstorm': item.precipitation >= 10 }"
                                ></i>
                            </div>
                            <div class="po-row card-values warm">
                                <i class="wi wi-thermometer"></i>
                                <h2>{{item.maximumtemperature}}°C</h2>
                            </div>
                            <div class="po-row card-values cold">
                                <i class="wi wi-thermometer"></i>
                                <h2>{{item.minimumtemperature}}°C</h2>
                            </div>
                            <div class="po-row card-values precipitation">
                                <i class="wi wi-raindrop"></i>
                                <h2>{{item.precipitation}}</h2>
                                <h5>mm</h5>
                            </div>
                        </div>
                    </po-widget>
                </div>
            </div>
        </div>
    </div>
</po-widget>
